@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: orange;
}

::-webkit-scrollbar-track {
    background: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: #111;
    background-image: linear-gradient(45deg, rgba(86, 86, 86,0.04) 0%, rgba(86, 86, 86,0.04) 50%,rgba(169, 169, 169,0.04) 50%, rgba(169, 169, 169,0.04) 71%,rgba(251, 251, 251,0.04) 71%, rgba(251, 251, 251,0.04) 100%),linear-gradient(45deg, rgba(86, 86, 86,0.04) 0%, rgba(86, 86, 86,0.04) 56%,rgba(169, 169, 169,0.04) 56%, rgba(169, 169, 169,0.04) 67%,rgba(251, 251, 251,0.04) 67%, rgba(251, 251, 251,0.04) 100%),linear-gradient(135deg, rgba(86, 86, 86,0.04) 0%, rgba(86, 86, 86,0.04) 4%,rgba(169, 169, 169,0.04) 4%, rgba(169, 169, 169,0.04) 75%,rgba(251, 251, 251,0.04) 75%, rgba(251, 251, 251,0.04) 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    background-attachment: fixed;
    background-position: center;
}

.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1620px;
    height: auto;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    z-index: 2;
}

.navbar {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.navbar ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li a {
    padding: 0.8rem 1.2rem;
    position: relative;
    display: block;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: orange;
}

.navbar ul li a.active-link {
    color: orange;
}

.navbar ul li a.active-link::before {
    position: absolute;
    content: attr(data-list);
    left: 50%;
    color: orange;
    pointer-events: none;
    transform: translateX(-50%);
    animation: nav-link-anim 0.4s ease-in-out forwards;
}

@keyframes nav-link-anim {
    0% {
        letter-spacing: 0;
        opacity: 1;
    }
    100% {
        letter-spacing: 0.8rem;
        opacity: 0;
    }
}
/* header end */



/* sections */
.sections {
    position: absolute;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}

section {
    padding: 6rem 3rem 3rem 3rem;
    height: 100vh;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.section-contents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    border-radius: 2rem;
}

section h1 {
    color: #fff;
    font-size: 3rem;
}
/* sections end */



/* settings start */
.settings {
    padding: 1rem;
    position: fixed;
    top: 40px;
    right: 0;
    background: #fff;
    z-index: 99999;
}

.toggle-settings {
    position: absolute;
    top: 0;
    left: -50px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background: #fff;
    border-radius: 0.2rem 0 0 0.2rem;
    border-right: 1px solid silver;
    box-sizing: border-box;
}

.toggle-settings span {
    color: #111;
    font-size: 1.4rem;
    animation: anim 1s linear infinite;
}

@keyframes anim {
    100% {
        transform: rotate(360deg);
    }
}

.colors h4,
.themes h4,
.views h4 {
    padding-bottom: 0.4rem;
    color: #2e2e3f;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-bottom: 2px dashed silver;
}

.colors-box {
    margin: 0.8rem 0 0.6rem 0.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    cursor: pointer;
    list-style: none;
}

.color-btn {
    margin-right: 1rem;
}

.color-btn span {
    font-size: 2rem;
}

.themes,
.views {
    margin-top: 1rem;
}

.themes-box,
.views-box {
    margin: 0.8rem 0 0.6rem 0;
}

.theme,
.view {
    margin-bottom: 0.4rem;
    padding: 0.6rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 0.2rem;
}

.theme.active-theme-btn,
.view.active-view-btn  {
    background: silver;
}

.theme:hover,
.view:hover {
    background: silver;
}

.theme span,
.view span {
    color: #222;
    font-size: 1.2rem;
}

.theme p,
.view p {
    color: #222;
    font-size: 1.2rem;
    margin-left: 0.4rem;
}
/* settings end*/